/* Style du header */
.header {
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    padding: var(--space-xl) var(--space-3xl);
    padding-left: var(--space-lg);
}

.header__link {
    text-decoration: none;
}

.header__logo {
    font-family: var(--font-important);
    font-size: var(--text-4demixl);
    font-weight: var(--font-important-weight);
    color: var(--dark);
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-left: auto;
}


.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: var(--dark);
    border-radius: 3px;
    transition: 0.4s;
}