/* Style du header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    padding: var(--space-base) var(--space-3xl);
    padding-left: var(--space-lg);
}

.header__link {
    text-decoration: none;
}

.header__logo {
    font-family: var(--font-important);
    font-size: var(--text-header);
    font-weight: var(--font-important-weight);
    color: var(--dark);
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--space-smd);
    margin-left: auto;
    margin-right: calc(var(--space-lg) * -1);
    /* Ajoute de la marge à droite, on ne peux pas faire - var(...) directement */
}


.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: var(--dark);
    border-radius: 3px;
    transition: 0.4s;
}

/* Animation croix */
.menu-btn.open .bar1 {
    transform: rotate(45deg) translate(8px, 8px);
}

.menu-btn.open .bar2 {
    opacity: 0;
}

.menu-btn.open .bar3 {
    transform: rotate(-45deg) translate(7px, -7px);
}