/* Style du header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    padding: var(--space-base) var(--space-3xl);
    padding-left: var(--space-lg);
}

.header__link {
    text-decoration: none;
}

.header__logo {
    font-family: var(--font-important);
    font-size: var(--text-4xl);
    font-weight: var(--font-important-weight);
    color: var(--dark);
}