.genre {
    background-color: var(--red);
    padding: var(--space-lg) var(--space-smd);
}

.genre__titre {
    font-family: var(--font-important);
    font-size: var(--text-5xl);
    font-weight: var(--font-important-weight);
    color: var(--dark);
    line-height: 1.2;
    margin: 0;
    margin-bottom: var(--space-base);
}

/* Barre de séparation */
.genre__division {
    width: 120px;
    height: 4px;
    background-color: var(--dark);
    margin-bottom: var(--space-xl);
}